name: Python Lint

on:
  push:
    branches:
      - main
      - develop
      - staging
  pull_request:
    branches:
      - main
      - develop
      - staging

permissions:
  contents: read

jobs:
  ruff:
    name: Run Ruff on /backend
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install Ruff
        run: pip install ruff==0.8.2

      - name: Run Ruff
        working-directory: ./backend
        run: ruff check .
